.paymentOptionComponent {
  .header {
    h1,
    p {
      text-align: center;
      color: #26a4a4;
    }
  }
  .paymentOptionsContainer {
    background-color: var(--theme-primary-color);
    padding: 20px;
    .paymentOptions {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      width: fit-content;
      margin: auto;

      .paymentOption {
        max-width: 100%;
        width: 300px;
        text-align: center;
        border-radius: 10px;
        padding: 10px 15px;
        background-color: #3fffff;
        box-shadow: 1px 1px 1px 1px #18a4a4;
        cursor: pointer;
        h3 {
          color: #000 !important;
          font-size: 1.5rem;
          margin: 0;
          margin-bottom: 15px;
        }
        .description {
          color: #087474;
          font-size: 0.8em;
          margin: 0;
        }
        .priceContainer {
          width: fit-content;
          margin: 10px auto;
          color: #000 !important;
          display: flex;
          align-items: center;
          gap: 10px;
          .price{
            font-size: 1.1rem;
            font-weight: 600;
          }
          .originalPrice {
            text-decoration: line-through;
            font-size: 1.1rem;
            font-weight: 600;
            // font-size: 0.8rem;
          }

          .discount {
            width: fit-content;
            // padding: 10px 20px;
            // background-color: #ce0bb8;
            // color: white;
          }
        }
        &:hover {
          background-color: #00f2f2;
        }
      }
    }
  }
}
