.primary-button {
    text-decoration: none;
    background-color: var(--theme-primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    filter: brightness(.9);
}