.reviews {
  padding: 20px 0px;
  .addReview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
  }
  .reviewContainer {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .review {
      padding: 10px 15px;
      word-break: break-all;
      background-color: #efefff;
      max-width: fit-content;
      border-radius: 10px;

      .reviewUser {
        display: flex;
        align-items: center;
        gap: 10px;
        .details {
          .name {
            font-size: 1.2rem;
          }
        }
      }
      .comment {
        padding: 10px 10px;
      }
    }
  }
}
